
<h1>Welcome to the cooks page</h1>

<% @cooks.each do |cook| %>
  <div class="card-product">
    <% if cook.photo.attached?  %>
      <%= cl_image_tag cook.photo.key, height: 150, width: 200, crop: :fill %>
    <% else %>
      <%= image_tag "https://loremflickr.com/320/240/chef", height: 150, width: 200, crop: :fill %>
    <% end %>
    <div class="card-product-infos">
      <h4><%= cook.name %></h4>
      <h5><%= cook.location %></h5>
      <p><%= cook.service %></p>
      <div class="card-stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <a class="btn btn-red" href="#">Details</a>
    </div>
  </div>
<% end %>




