<h1><%= @cook.name %></h1>
<% if @cook.photo.attached? %>
  <%= cl_image_tag @cook.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= image_tag "https://loremflickr.com/640/480/chef", height: 300, width: 400, crop: :fill %>
<% end %>
<h3><%= @cook.location %> </h3>
<p><%= @cook.service %> </p>

