<div class="container vh-100">
  <div class="show-card">
    <% if @cook.photo.attached?  %>
      <%= cl_image_tag @cook.photo.key, height: 300, width: 400, crop: :fill, class: 'show-photo' %>
    <% else %>
      <%= image_tag "https://loremflickr.com/320/240/chef", height: 150, width: 200, crop: :fill, class: 'show-photo' %>
    <% end %>
    <div class="show-card-infos w-100">
      <h4><%= @cook.name %></h4>
      <h5><%= @cook.location %></h5>
      <p><%= @cook.service %></p>
      <div class="w-100 d-flex justify-content-between">
        <% if !current_user.nil? && current_user.id == @cook.user_id %>
          <%= link_to "Back", root_path, class: "btn btn-yellow show-btn" %>
          <%= link_to "Edit", edit_cook_path(@cook), class: 'btn btn-green show-btn' %>
        <% else %>
          <%= link_to "Back", root_path, class: "btn btn-yellow show-btn" %>
          <%= link_to "Book now", new_cook_order_path(@cook), class: 'btn btn-red show-btn' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
