<div class="container">
  <div class="user-form mb-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center">User Dashboard</h2>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="m-2 ">
            <p>User ID: <%= @user.id %></p>
            <p>User Name: <%= @user.first_name %> <%= @user.last_name %></p>
          </div>
          <%= link_to('Edit Profile', edit_user_registration_path, class: 'btn-yellow m-2 p-3') %>
        </div>
        <div class="col-12">
          <div class="p-3">
            <h2 class="text-center">Orders</h2>
              <div class="text-dark">
                <% if @user.orders.blank? %>
                  <p class="m-5 p-5 text-center">No orders yet!</p>
                <% else %>
                  <ul id="orders-list" class="m-2 list-group">
                    <% @user.orders.order(:date).each do |order| %>
                      <li id="<%= "order-#{order.id}" %>" class="list-group-item p-2">
                        <div class="row justify-content-between">
                          <span class="col-2 m-0"><strong><%= order.date.strftime("%d/%m/%Y") %></strong></span>
                          <span class="col-4"><%= order.cook.name %></span>
                          <span class="col-2"><%= number_to_currency(order.cook.price, unit: "R$ ", separator: ",", delimiter: "") %></span>
                          <div class="col-2 row">
                            <% if order.date >= Date.today && order.reviews.empty? %>
                              <%= link_to new_order_review_path(order), title: "Review Order", class: "col-6" do %>
                              <i class="fas fa-star"></i>
                              <% end %>
                            <% else %>
                              <i class="col-6 far fa-star"></i>
                            <% end %>
                          <%= link_to order_path(order), title: "Delete Order", method: :delete, data: { confirm: 'Are you sure?'}, remote: true do %>
                            <i class="col-6 fas fa-times"></i>
                          <% end %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="col-9 p-1 my-5 bg-light text-dark">
        <h2 class="text-center">Cooks</h2>
        <div class="row justify-content-center">
          <div class="col-10">
            <% if @user.cooks.blank? %>
              <p class="m-5 p-5 text-center">No cooks yet!</p>
            <% else %>
              <ul id="orders-list" class="m-2 list-group">
              <% @user.cooks.each do |cook| %>
                <li id="<%= "cook-#{cook.id}" %>" class="list-group-item p-1">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="mx-3"><strong><%= cook.id %></strong></span>
                    <span><%= cook.name %></span>
                    <span><%= number_to_currency(cook.price, unit: "R$ ", separator: ",", delimiter: "") %></span>
                    <%= link_to('Edit', edit_cook_path(cook), class: 'btn-yellow m-2 p-3') %>
                  </div>
                </li>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
