

<div class="container p-5 user-form">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="text-center">Booking</h2>
    </div>
    <div class="col-12 text-center m-3">
      <p>
        <strong>Cook: </strong>
        <%= @cook.name %>
      </p>
      <p>
        <strong>Service:</strong>
        <%= @cook.service %>
      </p>
      <p>
        <strong>$: </strong>
        <%= @cook.price %>
      </p>
    </div>
    <div class="col-6 col-md-4">
      <%= simple_form_for([@cook, @order]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker-input"} %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, class: 'btn btn-red' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
