<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-5 shadow rounded p-0 bg-white text-center">
      <p class="m-3 text-left">
        <%= @order.user.first_name %> <%= @order.user.last_name %>
      </p>
      <h2 id="order-heading" class="m-0 p-3 text-light">Thank you for your order</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="text-left m-3">
          <p>
            <strong>Cook: </strong>
            <%= @order.cook.name %>
          </p>
          <p>
            <strong>Service:</strong>
            <%= @order.cook.service %>
          </p>
          <p>
            <strong>Booking date:</strong>
            <%= @order.date.strftime("%d/%m/%Y") %>
          </p>
          <p>
            <strong><%= number_to_currency(@order.cook.price, unit: "R$ ", separator: ",", delimiter: "") %></strong>
          </p>
        </div>
        <%= image_tag "cook.svg", height: 200, width: 200, class: "m-3" %>
      </div>
      <p>you will be redirected to our secure payments platform</p>
    </div>
  </div>
</div>
