<!DOCTYPE html>
<html>
  <head>
    <title>RentalLocalCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-5">
      <a class="navbar-brand d-flex align-items-end" href="/">
        <p id="app-name" class="display-3 m-0 p-0">Local Cooks</p>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item active">
            <%= link_to("Home", root_path, class: 'nav-link mx-2') %>
          </li>
          <li class="nav-item">
            <%= link_to("About", root_path, class: 'nav-link mx-2') %>
          </li>
          <% if current_user.nil? %>
            <%= link_to("Log in", new_user_session_path, class: 'btn btn-green') %>
          <% else %>
            <li class="nav-item dropdown text-center">
              <% if current_user.photo.attached?  %>
                <%= cl_image_tag current_user.photo.key, height: 150, width: 200, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}  %>
              <% else %>
                <%= image_tag "profile_pic.png",  crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
              <% end %>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to('Profile', edit_user_registration_path, class: "dropdown-item") %>
                <%= link_to('Cook', new_cook_path, class: "dropdown-item") %>
                <%= link_to('Log out', destroy_user_session_path, :method => 'delete', class: "dropdown-item") %>
              </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="mt-5">
    <%= yield %>
    </div>
    <footer class="navbar-fixed-bottom mt-5 py-3">
        <p class="text-center text-light">
          Developed at <%= link_to "https://www.lewagon.com", :target => "_blank", class: "navbar-brand" do %>
            <%= image_tag "logolw.png", height: 30, width: 30, crop: :fill  %>
          <% end %><br> by
          <%= link_to "Cristiane Silva", "https://github.com/cristianeasilva", :target => "_blank", class: "text-info" %>,
          <%= link_to "Ewerton Teixeira", "https://github.com/ewertonteixeira10", :target => "_blank", class: "text-info" %> and
          <%= link_to "Leandro Barroso", "https://leandrobarroso.github.io/profile/", :target => "_blank", class: "text-info" %>
        </p>
        <div class="pt-3 text-light text-center">Icons made by <a class="text-info" href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a class="text-info" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <p class="text-light text-center">Photo by <a class="text-info" href="https://unsplash.com/@jsnbrsc?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jason Briscoe</a> on <a class="text-info" href="https://unsplash.com/s/photos/cook?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
    </footer>
  </body>
</html>
